    {% extends "index.html" %}
    {% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('blog_posts.static', filename='style.css') }}">
    {% endblock %}

    {% block header %} Create post {% endblock %}

    {% block content %}
    <div class="panel">
    <form action="/blog_post/add" method="POST">
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>

      <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="6" required></textarea>
      </div>

      <div class="form-group">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
    {% endblock %}