<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>

    {% block head %}
    <link rel="stylesheet"
          href="{{ url_for('blog_post_index.static', filename='style.css') }}">
    {% endblock %}

</head>
<body>
    <h1>{% block header %} Welcome to My Flask Blog! {% endblock %} </h1>

    {% block add_post_button %}

    <div class="add-button">
        <a href="/blog_post/add"><i>Add a post post</i></a>
    </div>
    {% endblock %}

    {% block content %}
    {% for post in posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p><em>{{ post.author }}</em></p>
        <p>
            {{post.content}}
        </p>
        <hr>
        <a href="blog_post/delete/{{ post.id }}"
           class="rounded-button"><i>delete post</i></a>
        <a href="blog_post/update/{{ post.id }}" class="rounded-button"><i>update post</i></a>
    </div>
    {% endfor %}
    {% endblock %}
</body>
</html>
