body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}
a {text-decoration: none;}

p:not(:first-child) {
    text-align: justify;
}

h1 {
    text-align: center;
    color: #635696;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
    padding: 0 20px;
}

.post p {
    margin: 10px 0;
    padding: 0 20px;
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4F4F4F;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.rounded-button:hover {
    background-color: #635696;
}



.add-button > a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #635696;
    border-radius: 5px;
    color: white;
    align-self: center
    font-size: 0.5rem;
}

.add-button {
    margin-bottom: 5px;
}

.add-button > a:hover {
    background-color: #4F4F4F;
}


@media (max-width: 480px) {
  .rounded-button {
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 0.7;
  }
}